
{% extends "layout_agent.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



      <h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}<h1 class="govuk-heading-l">
        Claimant details
        <span class="govuk-caption-l">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
{% endblock %}
