
{% extends "layout_context.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Sprint #1 – Claimant profile
        <span class="govuk-caption-m">September 3 to 16</span>
      </h1>

      {% include 'sprint1/hypotheses.html' %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <ul class="govuk-list govuk-list--bullet">
          <li><a href='sprint1/claimant-details'>Claimant details</a></li>
          <li><a href='sprint1/work-search'>Claimant work search</a></li>
          <li><a href='sprint1/id-checks'>Claimant identity checks</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
  </div>

{% endblock %}
