
{% extends "layout_agent.html" %}

{% block pageTitle %}
  Claimant work search
{% endblock %}

{% set activeNav = "work-search" %}

{% block content %}

    <h1 class="govuk-heading-l">Claimant work search</h1>
    {{ dwpTimeline({
        headingLevel: 2,
        headingClasses: "govuk-heading-m",
        items: [{
            "button": true,
            "buttonText": "Record an appointment",
            "classes": "js-meeting-wrapper"
        }, {
            "heading": "Work search review (video call)",
            "author": "Terry Archer",
            "date": "8 September 2020 (today)",
            "body": "
            Jay has updated his CV with his photography qualification. He has found a job as a delivery driver with Tesco.<br>
                - Jay will apply for a job as a delivery driver at Tesco<br>
                - Jay will create a job profile on indeed.co.uk
                "
        }, {
            "heading": "Work search review (video call)",
            "author": "Fiona Robinson",
            "date": "1 September 2020 at 12:32pm (1 week ago)",
            "body": "
            Jay has updated his CV and applied for the Asda job. He did not get it because he felt there was too much competition.
            Jay has also has a recent photography qualification and is interested in photography related career.<br>
            - Jay will continue looking for work as a driver<br>
            - Jay will update his CV to add his photography qualification<br>
            - Jay will look for local photography related jobs
            "
        }, {
            "heading": "Initial work search interview (face to face)",
            "author": "Terry Archer",
            "date": "21 August 2020 at 10:01am (3 weeks ago)",
            "body": "
            Jay was feeling really low today, we discussed what sort of work he would like to do and he told me that he likes photography 
            and is qualified to drive medium sized vehicles.<br>
            - Jay will update their CV to include driving license details<br>
            - Jay will apply for a job as a delivery driver at Asda
            "
        }, {
            "heading": "Claim submitted",
            "date": "15 August 2020 (4 weeks ago)"
        }]
    }) }}


    <form action="work-search" method="post" class="dwp-hide js-meeting-form">
        <h2 class="govuk-heading-l">Record an appointment</h2>
        {{ govukRadios({
            idPrefix: "typeMeeting",
            name: "typeMeeting",
            fieldset: {
                legend: {
                text: "Type of meeting",
                classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                value: "commitment",
                text: "Commitment meeting"
                },
                {
                value: "review",
                text: "Work search review"
                },
                {
                value: "other",
                text: "Other"
                }
            ]
        }) }}

        {{ govukRadios({
            idPrefix: "typeContact",
            name: "typeContact",
            fieldset: {
                legend: {
                text: "Type of contact",
                classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                value: "phone",
                text: "Phone call"
                },
                {
                value: "video",
                text: "Video call"
                },
                {
                value: "face",
                text: "Face to face"
                }
            ]
        }) }}

        {{ govukTextarea({
            name: "meetingNotes",
            id: "meetingNotes",
            label: {
                text: "Notes and actions",
                classes: "govuk-label--m"
            },
            hint: {
                text: "What actions were agreed and need to be followed up?"
            }
        }) }}

        <div class="dwp-flex dwp-flex-middle">
            {{ govukButton({
                text: "Record appointment",
                classes: "govuk-!-margin-right-5"
            }) }}
            <a href="#" class="js-meeting-cancel">Cancel</a>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </form>

{% endblock %}


{% block afterContent %}

<aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-m">Related pages on GOV.UK</h2>
    <nav role="navigation" aria-labelledby="claim-actions-title">
        <ul class="govuk-list">
            <li><a href="#">Find a job</a></li>
            <li><a href="#">Jobseekers allowance (JSA)</a></li>
            <li><a href="#">Universal Credit</a></li>
            <li><a href="#">Employment and support allowance (ESA)</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}