<table class="govuk-table dwp-table">
    <caption class="govuk-table__caption">Week view</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Time</th>
            <th scope="col" class="govuk-table__header">Monday 21 (today)</th>
            <th scope="col" class="govuk-table__header">Tuesday 22</th>
            <th scope="col" class="govuk-table__header">Wednesday 23</th>
            <th scope="col" class="govuk-table__header">Thursday 24</th>
            <th scope="col" class="govuk-table__header">Friday 25</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row ">
            <th scope="row" class="govuk-table__header govuk-body-s">9:00</th>
            <td class="govuk-table__cell">
                {{govukTag({
                    text: "New claim",
                    classes: "govuk-tag--blue govuk-!-margin-bottom-1"
                })}}
                <p class="govuk-body-s govuk-!-margin-bottom-1">09:00 - 10:00am</p>
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>
            </td>
            <td class="govuk-table__cell">
                {{govukTag({
                    text: "Work search review",
                    classes: "govuk-tag--grey"
                })}}
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>
            </td>
            <td class="govuk-table__cell">
                {{govukTag({
                    text: "Work search review",
                    classes: "govuk-tag--grey"
                })}}
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>
            </td>
            <td class="govuk-table__cell">
                {{govukTag({
                    text: "Work search review",
                    classes: "govuk-tag--grey"
                })}}
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>
            </td>
            <td class="govuk-table__cell">
                {{govukTag({
                    text: "Work search review",
                    classes: "govuk-tag--grey"
                })}}
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-body-s">10:00</td>
            <td class="govuk-table__cell">
                {{govukTag({
                    text: "New claim",
                    classes: "govuk-tag--blue govuk-!-margin-bottom-1"
                })}}
                <p class="govuk-body-s govuk-!-margin-bottom-1">10:10 - 11:10am</p>
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>
            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
        </tr>
        <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-body-s">11:00</td>
            <td class="govuk-table__cell">

                {{govukTag({
                    text: "Work search review",
                    classes: "govuk-tag--red govuk-!-margin-bottom-1"
                })}}
                <p class="govuk-body-s govuk-!-margin-bottom-1">11:30 - 11:40am</p>
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>

                {{govukTag({
                    text: "Work search review",
                    classes: "govuk-tag--red govuk-!-margin-bottom-1"
                })}}
                <p class="govuk-body-s govuk-!-margin-bottom-1">11:45 - 11:55am</p>
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>

            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
        </tr>

        <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-body-s">12:00</td>
            <td class="govuk-table__cell">

                {{govukTag({
                    text: "Work search review",
                    classes: "govuk-tag--red govuk-!-margin-bottom-1"
                })}}
                <p class="govuk-body-s govuk-!-margin-bottom-1">12:00 - 12:15am</p>
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>

                {{govukTag({
                    text: "Work search review",
                    classes: "govuk-tag--red govuk-!-margin-bottom-1"
                })}}
                <p class="govuk-body-s govuk-!-margin-bottom-1">12:20 - 12:30pm</p>
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>


                {{govukTag({
                    text: "Work search review",
                    classes: "govuk-tag--red govuk-!-margin-bottom-1"
                })}}
                <p class="govuk-body-s govuk-!-margin-bottom-1">12:30 - 12:40pm</p>
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>


                {{govukTag({
                    text: "Work search review",
                    classes: "govuk-tag--red govuk-!-margin-bottom-1"
                })}}
                <p class="govuk-body-s govuk-!-margin-bottom-1">12:45 - 12:55pm</p>
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>

            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
        </tr>

        <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-body-s">13:00</td>
            <td class="govuk-table__cell">

                {{govukTag({
                    text: "Lunch",
                    classes: "govuk-tag--grey govuk-!-margin-bottom-1"
                })}}
                <p class="govuk-body-s">Call opticians</p>

            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
        </tr>

         <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-body-s">14:00</td>
            <td class="govuk-table__cell">
                <div class="dwp-diary__event">
                    {{govukTag({
                        text: "Work search review",
                        classes: "govuk-tag--red govuk-!-margin-bottom-1"
                    })}}
                    <p class="govuk-body-s govuk-!-margin-bottom-1">14:00 - 14:15am</p>
                    <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>
                </div>

                {{govukTag({
                    text: "Work search review",
                    classes: "govuk-tag--red govuk-!-margin-bottom-1"
                })}}
                <p class="govuk-body-s govuk-!-margin-bottom-1">14:20 - 14:30pm</p>
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>


                {{govukTag({
                    text: "Work search review",
                    classes: "govuk-tag--red govuk-!-margin-bottom-1"
                })}}
                <p class="govuk-body-s govuk-!-margin-bottom-1">14:30 - 14:40pm</p>
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>


                {{govukTag({
                    text: "New claim",
                    classes: "govuk-tag--blue govuk-!-margin-bottom-1"
                })}}
                <p class="govuk-body-s govuk-!-margin-bottom-1">14:45 - 15:45pm</p>
                <p class="govuk-body-s"><a href="work-search">James Smith Amber</a></p>

            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
            <td class="govuk-table__cell">
                
            </td>
        </tr>
    </tbody>
</table>