{% macro dwpSideNav( activeNav = 'claimant-details' ) %}

<nav class="side-nav">
    <ul>

     <li class="side-nav__item {% if activeNav == 'claimant-details' %}active{% endif %}">
        <a href="claimant-details">Manage claimant details</a>
      </li>
      <li class="side-nav__item {% if activeNav == 'work-search' %}active{% endif %}">
        <a href="work-search">Manage claimant work search</a>
      </li>
      <li class="side-nav__item {% if activeNav == 'id-checks' %}active{% endif %}">
        <a href="id-checks">Manage claimant identity checks</a>
      </li> 

    </ul>
  </nav>
{% endmacro %}