{% macro dwpHeader() %}
<header class="govuk-header dwp-header">
    <div class="dwp-header__container">
        <div class="dwp-header__header">
            <a href="/" class="dwp-header__link dwp-header__link-home">
                Manage your new style JSA claim
            </a>
        </div>
        <div class="dwp-header__body">
            <span class="dwp-header__user">Signed in as Terry Archer</span>
            <nav class="dwp-header__navigation" aria-label="Account navigation">
                <ul class="dwp-header__navigation-list">
                    <li class="dwp-header__navigation-item">
                        <a class="dwp-header__navigation-link" href="/sprint2/diary?week=0">Diary</a>
                    </li>
                </ul>
            </nav>
            <form role="search" method="post" action="/common/query" class="dwp-search" id="search">
                <div class="dwp-search__query">
                    <label for="query" class="govuk-visually-hidden">Enter National Insurance number</label>
                    <input type="text" name="query" id="query" class="govuk-input dwp-search__input" placeholder="Find a claim" value="" aria-label="Search" autocomplete="off">
                </div>
                <button class="govuk-button dwp-search__button">Search</button>
            </form>
        </div>
    </div>
</header>
{% endmacro %}