{% macro dwpKeyDetailsBar() %}
<section class="dwp-key-details-bar dwp-print-hide" role="contentinfo" aria-label="Key details">
    <dl class="dwp-key-details-bar__contents">
        <div class="dwp-key-details-bar__header">
            <dt class="govuk-visually-hidden">Name:</dt>
            <dd class="dwp-key-details-bar__name"> John Smith (Jay)</dd>
            <dt class="govuk-visually-hidden">National Insurance number:</dt>
            <dd class="dwp-key-details-bar__nino">AA 11 11 11 A</dd>
        </div>

        <div class="dwp-key-details-bar__body">
            <dt>Birth date:</dt>
            <dd>25/12/1980</dd>

            <dt>Post code:</dt>
            <dd>SA4W 7SH</dd>

            <dt>Contact:</dt>
            <dd>0161 1234564</dd>

            <dt>Claim date:</dt>
            <dd>02/09/2019</dd>
        </div>

    </dl>
</section>
{% endmacro %}