// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Override the default GOV.UK Frontend font stack
// $govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";


// Import custom components and things from
// https://dwp-design-examples.herokuapp.com
@import "components/dwp-header";
@import "components/dwp-search";
@import "components/dwp-key-details-bar";
@import "components/dwp-side-nav";
@import "components/dwp-timeline";


$large: 1220px;

.dwp-header,
.dwp-key-details-bar {
    position: sticky;
    z-index: 1;
}
.dwp-header {
    top: 0;
}
.dwp-key-details-bar {
    top: 50px
}

.dwp-template {
    background-color: govuk-colour("white");
}

.govuk-phase-banner,
.govuk-section-break {
    width: 100%;
}

@include mq($from: desktop) {
    .dwp-col-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .dwp-main-wrapper {
        flex: 1;
        // height: calc(100vh - 60px);
        // overflow: auto;
    }

    .dwp-col-left {
        min-width: 220px;
        width: 15%;
        // min-height: calc(100vh - 163px);
    }
    .dwp-col-main {
        flex: 1;
    }

    .dwp-template {
        // overflow: hidden;
    }

}

@include mq($from: $large) {
    .dwp-main-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .dwp-col-main {
        padding-right: 4rem;
    }
    .dwp-col-left {
        min-width: 300px;
    }
    .dwp-col-right {
        min-width: 260px;
        width: 35%;
        // height: calc(100vh - 163px);
    }
}

.dwp-main-wrapper {
    padding-left: 15px;
    padding-right: 15px;

    @include mq($from: desktop) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}



.dwp-col-left {
    background-color: govuk-colour("light-grey");
}

.dwp-col-right {
    
}

.dwp-col-main,
.dwp-col-right {
    padding-top: 2rem;
}

// @include mq($from: desktop) {

// }


.dwp-align-right {
    text-align: right;
}

.dwp-hide {
    display: none;
}

.dwp-flex{
    display: flex;
}

.dwp-flex-middle {
    align-items: center;
}


.dwp-embed {
    position: relative;
    overflow: hidden;
    & > * {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::before {
        padding-top: 56.25%;
        content: "";
        display: block;
        overflow: hidden;
    }
}