
{% extends "layout.html" %}
{% set serviceName = data['apply-service-name'] %}
{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title govuk-panel__title--centred">Application complete</h1>
      </div>

    <p>We will send you confirmation of your application if you have provided a mobile number or email address.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Wait for us to contact you to discuss your next steps towards finding work.</p>
      <p>If you are able to look for work safely while following government guidance on coronavirus (COVID-19) you should: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>update your CV</li>
        <li>consider your opportunities for returning to work</li>
        <li>search for jobs, for example on the government's <a href="https://jobhelp.campaign.gov.uk/">Job Help website</a></li>
        <li>make yourself available for work</li>
      </ul>

      
      {{ govukInsetText({
        html: "
        <h2 class=govuk-heading-m>Contacting us</h2>
         <p>You will need to <a href=https://www.gov.uk/jobseekers-allowance/report-a-change-of-circumstances>contact us to report a change of circumstances</a>, such as starting a new job.</p>
      "
      }) }}

      {{ govukDetails({
        summaryText: "Do you need help with housing costs or support for a partner or child?",
        html: "
        <p>If you're on a low income you might be able to apply for Universal Credit as part of a dual claim with New Style JSA.</p>
        <p>Unlike New Style JSA, you can apply with a partner and get support for housing costs, children and childcare.</p>
        <p>You or your partner must have less than £16,000 in savings or investments to be eligilbe.</p>
        <p>Find out <a href=https://www.gov.uk/how-to-claim-universal-credit>how to claim for Universal Credit on GOV.UK</a>.</p>
        "
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p><a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>



    </div>
  </div>

{% endblock %}
