
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Sprint #5 – Evidence
        <span class="govuk-caption-m">December 9 to 12</span>
      </h1>

        {% include 'sprint2/hypotheses.html' %}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-s">First iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href='sprint5/start'>Upload file</a></li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
  </div>

{% endblock %}
