
{% extends "layout_context.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% include "includes/back.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Sprint #5 – Evidence
      </h1>

        {% include 'sprint5/hypotheses.html' %}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-m">Prototypes</h2>
        <h2 class="govuk-heading-s"><a href='sprint5/a/check-answers'>A: Asking for evidence at the end of the application</a></h2>
        <p>During the application, after check answers.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-s"><a href='sprint5/b/9-pensions'>B: Asking for evidence in section</a></h2>
        <p>During the application, after we ask about pensions.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {# <h2 class="govuk-heading-s"><a href='sprint5/start'>C: Asking for evidence after the application has been submitted</a></h2>
        <p>After the application. Offering a feature to provide evidence later means:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Processors can start to process the application</li>
            <li>Processors can build the record for the user</li>
            <li>Citizens don't need evidence they might not have, to hand during the application</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p>Could we offer both a during and after method? - "Don't worry you can send us this at a later time"</p> #}
    </div>
  </div>

{% endblock %}
