{% extends "layout_claimant.html" %}

{% block pageTitle %}
Changing appointment | {{ serviceName }}
{% endblock %}

{# {% set activeNav = "book-appointment" %} #}

{% block beforeContent %}
 {% include "sprint2/nav.html" %}
{% endblock %}

{% block content %}
    {% include "includes/back.html" %}

    <h1 class="govuk-heading-l">Change appointment</h1>

    {{ govukSummaryList({
        rows: [

            {
                key: {
                    text: "Date and time"
                },
                value: {
                    text: "22 September at 10:15am"
                },
                actions: {
                    items: [
                    {
                        href: "when",
                        text: "Change",
                        visuallyHiddenText: "when"
                    }
                    ]
                }
            },

            {
                key: {
                    text: "Work coach"
                },
                value: {
                    text: "Sherry Archer"
                },
                actions: {
                    items: [
                    {
                        href: "who",
                        text: "Change",
                        visuallyHiddenText: "work coach"
                    }
                    ]
                }
            },

            {
                key: {
                    text: "Type"
                },
                value: {
                    text: "Work search review"
                },
                actions: {
                    items: [
                    {
                        href: "type",
                        text: "Change",
                        visuallyHiddenText: "type"
                    }
                    ]
                }
            },
            {
                key: {
                    text: "Duration"
                },
                value: {
                    text: "10 minutes"
                },
                actions: {
                    items: [
                    {
                        href: "duration",
                        text: "Change",
                        visuallyHiddenText: "duration"
                    }
                    ]
                }
            },
            {
                key: {
                    text: "Conducted"
                },
                value: {
                    text: "On the phone"
                },
                actions: {
                    items: [
                    {
                        href: "where",
                        text: "Change",
                        visuallyHiddenText: "where"
                    }
                    ]
                }
            }
        ]
    }) }}

    {{ govukInsetText({
        text: "This updated booking will be sent to the claimant johnsmith769@gmail.com"
    }) }}

    {{ govukCheckboxes({
        idPrefix: "outlook",
        name: "outlook",
        items: [
            {
            value: "sendon",
            text: "Send update to my outlook calendar",
            checked: true
            }
        ]
    }) }}

    {{ govukButton({
        text: "Change this appointment",
        href: "complete"
    }) }}

    <p><a href="cancel">Cancel this appointment</a></p>

{% endblock %}


{% block afterContent %}

{% endblock %}