{% extends "layout_claimant.html" %}

{% block pageTitle %}
Changing appointment | {{ serviceName }}
{% endblock %}

{# {% set activeNav = "book-appointment" %} #}

{% block beforeContent %}
 {% include "sprint2/nav.html" %}
{% endblock %}

{% block content %}
    {% include "includes/back.html" %}


    <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">Change an appointment for John Smith</span>
        {% if data['changed'] === "1"  %}
        Check your changes
        {% else %}
        What do you want to change?
        {% endif %}
    </h1>

    {% if data['changed'] === "1"  %}
        {{ govukInsetText({
            html: "The updated booking will be sent to the claimant <strong>johnsmith769@gmail.com</strong>"
        }) }}
    {% endif %}

    {{ govukSummaryList({
        rows: [

            {
                key: {
                    text: "Date and time"
                },
                value: {
                    text: "22 September at 10:15am"
                },
                actions: {
                    items: [
                    {
                        href: "change-when",
                        text: "Change",
                        visuallyHiddenText: "when"
                    }
                    ]
                }
            },

            {
                key: {
                    text: "Work coach"
                },
                value: {
                    text: "Sherry Archer"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "work coach"
                    }
                    ]
                }
            },

            {
                key: {
                    text: "Type"
                },
                value: {
                    text: "Work search review"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "type"
                    }
                    ]
                }
            },
            {
                key: {
                    text: "Duration"
                },
                value: {
                    text: "10 minutes"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "duration"
                    }
                    ]
                }
            },
            {
                key: {
                    text: "Conducted"
                },
                value: {
                    text: "On the phone"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "where"
                    }
                    ]
                }
            }
        ]
    }) }}

    {% if data['changed'] === "1"  %}

    {{ govukCheckboxes({
        idPrefix: "outlook",
        name: "outlook",
        items: [
            {
            value: "sendon",
            text: "Update this appointment in my outlook calendar",
            checked: true
            }
        ]
    }) }}

    {{ govukButton({
        text: "Change this appointment",
        href: "complete"
    }) }}



    {% endif %}

    <p>or <a href="cancel">cancel this appointment</a></p>

    {% if data['changed'] != "1"  %}
    <p><a href="diary2?week=0#monday">Go back to my diary</a></p>
    {% endif %}

{% endblock %}


{% block afterContent %}

{% endblock %}