
{% extends "layout_claimant.html" %}

{% block pageTitle %}
Booking complete | {{ serviceName }}
{% endblock %}

{% set activeNav = "book-appointment" %}

{% block beforeContent %}
 {% include "sprint2/nav.html" %}
{% endblock %}

{% block content %}

    {{ govukPanel({
        titleText: "Booking complete"
    }) }}

    <p>You have been sent a confirmation of this booking by email.</p>

    {{ govukInsetText({
        html: "A confirmation of this booking has been sent to the claimant <strong>johnsmith769@gmail.com</strong>"
    }) }}


{% endblock %}


{% block afterContent %}

{% endblock %}