
{% extends "layout_claimant.html" %}

{% block pageTitle %}
When | {{ serviceName }}
{% endblock %}

{% set activeNav = "book-appointment" %}

{% block beforeContent %}
 {% include "sprint2/nav.html" %}
{% endblock %}

{% block content %}
    {% include "includes/back.html" %}

    <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">Booking an appointment for John Smith</span>
        What day do you want to book the appointment on?
    </h1>

    <a href="when3">
        <img src="/public/images/cal2.png" alt="calendar1" style="max-width: 72em; display: block; border: 1px solid gainsboro;"  />
    </a>

{% endblock %}


{% block afterContent %}

{% endblock %}