
{% extends "layout_claimant.html" %}

{% block pageTitle %}
Where | {{ serviceName }}
{% endblock %}

{% set activeNav = "book-appointment" %}

{% block beforeContent %}
 {% include "sprint2/nav.html" %}
{% endblock %}

{% block content %}
    {% include "includes/back.html" %}
    <form action="where" method="post">

    {{ govukRadios({
        idPrefix: "where",
        name: "where",
        fieldset: {
            legend: {
            html:
            "   <h1 class=govuk-fieldset__heading>
                    <span class=govuk-caption-m>Booking an appointment for John Smith</span>
                    How will the appointment be conducted?
                </h1>
            ",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
        },
        items: [
            {
                value: "phone",
                text: "Over the phone"
            },
            {
                value: "video",
                text: "Over a video call"
            },
            {
                value: "jcp",
                text: "In my job centre, face to face"
            }
        ]
    }) }}

    {{ govukButton({
        text: "Continue"
    }) }}
    </form>

{% endblock %}


{% block afterContent %}

{% endblock %}