$header-padding: 15px;

.dwp-header {
    border-bottom: 0;
    padding-left: $header-padding;
    padding-right: $header-padding;

    &__link {
        text-decoration: none;
        margin-bottom: 5px;

        &:link,
        &:visited {
            color: govuk-colour("white");
        }
        &:hover {
            text-decoration: underline;
        }
        &:focus {
            outline: 3px solid transparent;
            color: #0b0c0c;
            background-color: govuk-colour("yellow");
            box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black");
        }
    }

    &__link-home {
        font-weight: 700;
        display: inline-block;
        font-size: 1.5rem;
        line-height: 1;
    }

    &__container {
        padding: 5px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include govuk-media-query($from: tablet) {
            justify-content: space-between;
        }
    }

    &__body {
        display: flex;
        align-items: center;
    }

}


.dwp-main-wrapper {
    padding: 0;
}

.dwp-header__navigation {
    margin-left: govuk-spacing(9);
    margin-right: govuk-spacing(9);

    &-link {
        &:link,
        &:visited {
            color: govuk-colour("white");
        }
        &:focus {
            outline: 3px solid transparent;
            color: #0b0c0c;
            background-color: govuk-colour("yellow");
            box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black");
        }
    }
}

.dwp-header__navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    .dwp-header__navigation-item {
        display: inline-block;
        @include govuk-font(19);
    }
}