<table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">Thursday</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Time</th>
            <th scope="col" class="govuk-table__header">Appointment</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">09:00</th>
            <td class="govuk-table__cell">
                <h3 class="govuk-heading-s"><a href="cancel">Add an event to your diary</a></h3>
            </td>
        </tr>
        
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">10:00</th>
            <td class="govuk-table__cell">
                <h3 class="govuk-heading-s"><a href="work-search">Wendy Sturgeon</a></h3>
                {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Type"
                        },
                        value: {
                            text: "New claim"
                        },
                        actions: {
                            items: [
                            {
                                href: "type",
                                text: "Change",
                                visuallyHiddenText: "type"
                            }
                            ]
                        }
                    }, {
                        key: {
                            text: "Conducted"
                        },
                        value: {
                            text: "In the job centre"
                        },
                        actions: {
                            items: [
                            {
                                href: "where",
                                text: "Change",
                                visuallyHiddenText: "where"
                            }
                            ]
                        }
                    }, {
                        key: {
                            text: "Duration"
                        },
                        value: {
                            text: "1 hour"
                        },
                        actions: {
                            items: [
                            {
                                href: "duration",
                                text: "Change",
                                visuallyHiddenText: "duration"
                            }
                            ]
                        }
                    }
                ]
                }) }}
                <p><a href="cancel">Cancel appointment</a></p>
            </td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">11:00</th>
            <td class="govuk-table__cell">
                <h3 class="govuk-heading-s"><a href="work-search">John Ashworth</a></h3>
                {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Type"
                        },
                        value: {
                            text: "New claim"
                        },
                        actions: {
                            items: [
                            {
                                href: "type",
                                text: "Change",
                                visuallyHiddenText: "type"
                            }
                            ]
                        }
                    }, {
                        key: {
                            text: "Conducted"
                        },
                        value: {
                            text: "In the job centre"
                        },
                        actions: {
                            items: [
                            {
                                href: "where",
                                text: "Change",
                                visuallyHiddenText: "where"
                            }
                            ]
                        }
                    }, {
                        key: {
                            text: "Duration"
                        },
                        value: {
                            text: "1 hour"
                        },
                        actions: {
                            items: [
                            {
                                href: "duration",
                                text: "Change",
                                visuallyHiddenText: "duration"
                            }
                            ]
                        }
                    }
                ]
                }) }}
                <p><a href="cancel">Cancel appointment</a></p>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">12:00</th>
            <td class="govuk-table__cell">
                <h3 class="govuk-heading-s"><a href="work-search">Eric Pell</a></h3>
                {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Type"
                        },
                        value: {
                            text: "New claim"
                        },
                        actions: {
                            items: [
                            {
                                href: "type",
                                text: "Change",
                                visuallyHiddenText: "type"
                            }
                            ]
                        }
                    }, {
                        key: {
                            text: "Conducted"
                        },
                        value: {
                            text: "In the job centre"
                        },
                        actions: {
                            items: [
                            {
                                href: "where",
                                text: "Change",
                                visuallyHiddenText: "where"
                            }
                            ]
                        }
                    }, {
                        key: {
                            text: "Duration"
                        },
                        value: {
                            text: "1 hour"
                        },
                        actions: {
                            items: [
                            {
                                href: "duration",
                                text: "Change",
                                visuallyHiddenText: "duration"
                            }
                            ]
                        }
                    }
                ]
                }) }}
                <p><a href="cancel">Cancel appointment</a></p>
            </td>
        </tr>

        <tr class="govuk-table__row dwp-table-row">
            <th scope="row" class="govuk-table__header">13:00</th>
            <td class="govuk-table__cell">
                <h3 class="govuk-heading-s">Lunch</h3>
            </td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">14:00</th>
            <td class="govuk-table__cell">
                <h3 class="govuk-heading-s"><a href="work-search">Tessa Trase</a></h3>
                {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Type"
                        },
                        value: {
                            text: "New claim"
                        },
                        actions: {
                            items: [
                            {
                                href: "type",
                                text: "Change",
                                visuallyHiddenText: "type"
                            }
                            ]
                        }
                    }, {
                        key: {
                            text: "Conducted"
                        },
                        value: {
                            text: "In the job centre"
                        },
                        actions: {
                            items: [
                            {
                                href: "where",
                                text: "Change",
                                visuallyHiddenText: "where"
                            }
                            ]
                        }
                    }, {
                        key: {
                            text: "Duration"
                        },
                        value: {
                            text: "1 hour"
                        },
                        actions: {
                            items: [
                            {
                                href: "duration",
                                text: "Change",
                                visuallyHiddenText: "duration"
                            }
                            ]
                        }
                    }
                ]
                }) }}
                <p><a href="cancel">Cancel appointment</a></p>
            </td>
        </tr>
    </tbody>
</table>