
{% extends "layout_context.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% include "includes/back.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">Sprint #6 – Notifications, application complete to decision</h1>

        {% include 'sprint6/hypotheses.html' %}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m">V2 – New notification ideas</h2>

        <h2 class="govuk-heading-s">We got your application</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href='sprint6/v2/we-got-it'>Email</a> Sent after 48 hours</li>
          <li><a href='sprint6/v2/we-got-it-text'>Text message</a> Sent after 48 hours</li>
        </ul>

        <h2 class="govuk-heading-s">We're checking your application</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href='sprint6/v2/were-checking-it'>Email</a> Sent after 1 week</li>
          <li><a href='sprint6/v2/were-checking-it-text'>Text message</a> Sent after 1 week</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-m">V1 – New notification ideas</h2>

        <h2 class="govuk-heading-s">We got your application</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href='sprint6/idea1/we-got-it'>Email</a> Sent after 48 hours</li>
          <li><a href='sprint6/idea1/we-got-it-text'>Text message</a> Sent after 48 hours</li>
        </ul>

        <h2 class="govuk-heading-s">We're checking your application</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href='sprint6/idea1/were-checking-it'>Email</a> Sent after 1 week</li>
          <li><a href='sprint6/idea1/we-check-text'>Text message</a> Sent after 1 week</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-s">We've done an initial check</h2>
        <p><a href='sprint6/idea2/done-initial-check-text'>Text message</a> Sent after 48 hours</p>
        <h2 class="govuk-heading-s">We're processing your application</h2>
        <p><a href='sprint6/idea2/were-processing-text'>Text message</a> Sent after 48 hours</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m">V2 – Application complete prototypes</h2>
        <h2 class="govuk-heading-s"><a href='sprint6/confirmation/v2/confirmation'>Application confirmation</a></h2>
        <p>Seen at the end of the application.</p>

        <h2 class="govuk-heading-s"><a href='sprint6/confirmation/v2/email'>Application complete email</a></h2>
        <p>Sent at the end of the application.</p>

        <h2 class="govuk-heading-s"><a href='sprint6/confirmation/v2/text'>Application complete text message</a></h2>
        <p>Sent at the end of the application.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m">V1 – Application complete prototypes</h2>
        <h2 class="govuk-heading-s"><a href='sprint6/confirmation/v1/confirmation'>Application confirmation</a></h2>
        <p>Seen at the end of the application.</p>

        <h2 class="govuk-heading-s"><a href='sprint6/confirmation/v1/email'>Application complete email</a></h2>
        <p>Sent at the end of the application.</p>

        <h2 class="govuk-heading-s"><a href='sprint6/confirmation/v1/text'>Application complete text message</a></h2>
        <p>Sent at the end of the application.</p>

    </div>
  </div>

{% endblock %}
