
{% extends "layout_context.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Phase 1
        <span class="govuk-caption-m">September – October 2020</span>
      </h1>{{releaseVersion | log }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="sprint2">Sprint #2 – Appointment booking</a>
        <span class="govuk-caption-m">September 17 to 30</span>
      </h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Sprint #1 – Claimant profile
        <span class="govuk-caption-m">September 3 to 16</span>
      </h2>
      {% include 'sprint1/hypotheses.html' %}
      <p><a href='sprint1'>View prototype</a></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
  </div>

{% endblock %}
